peft
transformers
PyYAML
datasets
nltk
torch
pandas

# Metrics
bert_score
sentence-transformers

# Gridsearch
optuna

# plotting 
matplotlib
plotly
kaleido
seaborn

# RAG
langchain_core
langchain_text_splitters
langchain_community
langchain_huggingface
faiss-cpu
# faiss-gpu # For CUDA

# Development
black
isort
pylint